#about{
    font-family: 'merienda one';

    .about-head{
        font-size: 2.5rem;
        text-align: center;

        span{
            color: $primary;
        }
    }
    .about-intro{
        background-color: $off-black;
        font-size: 1rem;
        width: 70%;
        margin: 3rem auto;
        padding: 2rem;
        line-height: 1.7rem;
        text-align: justify;

        @media (max-width: 700px){ width: 100%;}
        @media (max-width: 400px){ font-size: 0.8rem;}
    }

    .skills-btn{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        text-align: center;
        width: 90%;
        margin: 0.2rem auto;

        @media (max-width: 700px){
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }

        @media (max-width: 450px){
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
        }

        .skill-btn{
            background-color: $primary;
            color: $black;
            margin: 0.2rem;
            padding: 0.8rem;
            font-size: 1rem;
            border-radius: 10rem;
            transition: all 0.5s ease;

            @media (max-width: 780px){ font-size: 0.8rem; }
        }

        .skill-btn.active{
            box-shadow: 0 0 1rem $primary;
            font-weight: 600;
            animation: blink 2s ease infinite;
        }
        .skill-btn:hover{
            cursor: pointer;
            box-shadow: 0 0 1rem $primary, 0 0 3rem $primary, 0 0 10rem $primary;
        }

        #lang{
            grid-area: 1/1/2/2;
            @media (max-width: 700px){ grid-area: 1/1/2/2; }
            @media (max-width: 450px){ grid-area: 1/1/2/2; }
        }
        #webd{
            grid-area: 1/2/2/3;
            @media (max-width: 700px){ grid-area: 1/2/2/3; }
            @media (max-width: 450px){ grid-area: 2/1/3/2; }
        }
        #ml{
            grid-area: 1/3/2/4;
            @media (max-width: 700px){ grid-area: 2/1/3/2; }
            @media (max-width: 450px){ grid-area: 3/1/4/2; }
        }
        #tech{
            grid-area: 1/4/2/5;
            @media (max-width: 700px){ grid-area: 2/2/3/3; }
            @media (max-width: 450px){ grid-area: 4/1/5/2; }
        }
    }

    .skills-cont{
        background-color: $primary;
        border: 0.1rem solid $primary;
        max-width: 70rem;
        width: 100%;
        height: 100vh;
        max-height: 100vw;
        position: relative;
        margin: 1rem auto;


        .skills-cloud{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            max-height: 100%;
            visibility: hidden;
        }

        .skills-cloud.active{
            visibility: visible;
            display: flex; 
            align-items: center; 
            justify-content: center;
        }
    }

    .color-sliders{
        h2{
            text-align: center;

            @media (max-width: 800px){font-size: 0.8rem;}
        }
        .slider-cont{
            width: 50%;
            margin: 0.5rem auto;
            .slider{width: 100%;}
        }

        
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            input[type='range'] {
                width: 100%;
                overflow: hidden;
                -webkit-appearance: none;
                background-color: #acacac;
                border-radius: 2rem;
            }
            
            input[type='range']::-webkit-slider-runnable-track {
                height: 1rem;
                -webkit-appearance: none;
                color: #0a0a0a;
            }
            
            .red-slider input[type='range']::-webkit-slider-thumb {
              width: 1.2rem;
              -webkit-appearance: none;
              height: 1rem;
              background: #6b0000;
              border-radius: 50%;
              box-shadow: -1000px 0 0 1000px #ff6565;
            }
            
            .green-slider input[type='range']::-webkit-slider-thumb {
              width: 1.2rem;
              -webkit-appearance: none;
              height: 1rem;
              background: #007936;
              border-radius: 50%;
              box-shadow: -1000px 0 0 1000px #65ffb2;
            }
            
            .blue-slider input[type='range']::-webkit-slider-thumb {
              width: 1.2rem;
              -webkit-appearance: none;
              height: 1rem;
              background: #003444;
              border-radius: 50%;
              box-shadow: -1000px 0 0 1000px #90e9ff;
            }
        
        }
    }
}

