#home {
    font-family: 'merienda one';
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),  url("../../Media/star.jpg");
    background-size: cover;
    
    
    display: flex;
    align-items: center;
    justify-content: center;

    #canvas1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        visibility: hidden;
        background: radial-gradient(rgba($primary, 0.6), rgba($primary, 0.4));
    }




    .content {
        text-align: justify;
        font-size: 2rem;
        visibility: visible;
        display: flex;

        @media (min-width: 1400px){
            width: 90%;
            text-align: center;
        }

        @media (max-width: 700px){
            font-size: 1.5rem;
            line-height: 2rem;
        }
        

        @media (max-width: 450px){
            font-size: 1.1rem;
            line-height: 1.4rem;
        }
        
        

        .text{
            background-color: rgba(19, 19, 19);
            padding: 1.5rem;
            width: 100%;
            text-transform: capitalize;

            .name{

                .svg-container{            
                    #name{
                        width: 100%;
                        animation: fill_name 1.5s ease forwards 5s;
                    }

                    #s{   stroke-dasharray: 259.3     ;    stroke-dashoffset: 259.3   ;     animation: appear 1s ease forwards;                 }
                    #a{   stroke-dasharray: 240.7     ;    stroke-dashoffset: 240.7   ;     animation: appear 1s ease forwards 0.25s;           }
                    #h{   stroke-dasharray: 264.82    ;    stroke-dashoffset: 264.82  ;     animation: appear 1s ease forwards 0.5s;            }
                    #i{   stroke-dasharray: 112.65    ;    stroke-dashoffset: 112.65  ;     animation: appear 1s ease forwards 0.75s;           }
                    #l{   stroke-dasharray: 159.89    ;    stroke-dashoffset: 159.89  ;     animation: appear 1s ease forwards 1s;              }
                    
                    #k{   stroke-dasharray: 255.4     ;    stroke-dashoffset: 255.4   ;     animation: appear 1s ease forwards 1.25s;           }
                    #u{   stroke-dasharray: 240.25    ;    stroke-dashoffset: 240.25  ;     animation: appear 1s ease forwards 1.5s;            }
                    #m{   stroke-dasharray: 389.5     ;    stroke-dashoffset: 389.5   ;     animation: appear 1s ease forwards 1.75s;           }
                    #a2{  stroke-dasharray: 240.7     ;    stroke-dashoffset: 240.7   ;     animation: appear 1s ease forwards 2s;              }
                    #r{   stroke-dasharray: 274       ;    stroke-dashoffset: 274     ;     animation: appear 1s ease forwards 2.25s;           }
            
                    #b{   stroke-dasharray: 295.24    ;    stroke-dashoffset: 295.24  ;     animation: appear 1s ease forwards 2.5s;            }
                    #a3{  stroke-dasharray: 240.7     ;    stroke-dashoffset: 240.7   ;     animation: appear 1s ease forwards 2.75s;           }
                    #i2{  stroke-dasharray: 112.65    ;    stroke-dashoffset: 112.65  ;     animation: appear 1s ease forwards 3s;              }
                    #r2{  stroke-dasharray: 274       ;    stroke-dashoffset: 274     ;     animation: appear 1s ease forwards 3.25s;           }
                    #a4{  stroke-dasharray: 240.7     ;    stroke-dashoffset: 240.7   ;     animation: appear 1s ease forwards 3.5s;            }
                    #g{   stroke-dasharray: 276.15    ;    stroke-dashoffset: 276.15  ;     animation: appear 1s ease forwards 3.75s;           }
                    #i3{  stroke-dasharray: 112.65    ;    stroke-dashoffset: 112.65  ;     animation: appear 1s ease forwards 4s;              }
                
                    @keyframes appear {
                        100%{
                            stroke-dashoffset: 0;
                            transform: rotateY(20deg);
                        }
                    }
            
                    @keyframes fill_name {
                        0%{
                            fill: transparent;
                        }
                        100%{
                            fill: rgba(255, 255, 255, 0.856); 
                        }          
                    }
                }
            }

            .resume {
                margin-top: 3rem;
                opacity: 0;
                transform: translateY(100%);
                animation: showup 1s ease forwards 7.5s;

                @keyframes showup {
                    100%{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                .cv-link{
                    text-decoration: none;
                    color: $primary;
                    border: 0.1rem solid $primary;
                    padding: 0.3rem 1rem;
                    transition: all 0.4s ease;
                    border-radius: 1rem;
                }

                .cv-link:hover{
                    background-color: $primary;
                    color: white;
                }
            }
            

            .wrapper{
                display: inline-flex;
                opacity: 0;
                transform: translateX(-10%);
                animation: showup 1s ease forwards 6.5s;

                @keyframes showup {
                    100%{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                .static-txt{
                    color: white;
                    font-weight: 400;
                }

                .dynamic-txts {
                    margin-left: 0.4rem;
                    line-height: 3rem;
                    height: 3rem;
                    text-align: left;

                    @media (max-width: 700px){
                        line-height: 2rem;
                        height: 2rem;
                    }

                    @media (max-width: 450px){
                        line-height: 1.4rem;
                        height: 1.4rem;
                    }

                    overflow: hidden;

                    li{
                        color: $primary;
                        list-style: none;
                        font-weight: 600;
                        overflow: hidden;
                        position: relative;
                        top: 0;
                        animation: slide 10s steps(5) infinite;

                        @keyframes slide {
                            100% {
                                top: -15rem;
                            }
                        }

                        @media (max-width: 700px) {
                            @keyframes slide {
                                100% {
                                    top: -10rem;
                                }
                            }
                        }

                        @media (max-width: 450px) {
                            @keyframes slide {
                                100% {
                                    top: -7rem;
                                }
                            }
                        }

                        span{
                            position: relative;
                            
                        }

                        span::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background-color: rgba(19, 19, 19);
                            border-left: 0.2rem solid $primary;
                            animation: typing 2s steps(24) infinite;
                        }

                        @keyframes typing {
                            80%{
                                left: 100%;
                                margin: 0 -35px 0 35px;
                            }
                            
                            100%{
                                left: 100%;
                                margin: 0 -35px 0 35px;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}


#home.switched{
    background: none;

    #canvas1{
        visibility: visible;
    }

    .content {
        visibility: hidden;

        .text{
            opacity: 0;
        }
    }
}